@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

html {}

body {}

/* 공통사항 */
.container {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.wrap {
    position: relative;
    display: block;
}